<div>
  <h1><%= @user.name %>の詳細</h1>
  <%= image_tag @user.get_profile_image(100,100) %>
</div>
<table>
  <tr>
    <th>お店の名前</th>
    <th>説明</th>
    <th>写真</th>
  </tr>
  <% @post_images.each do |post_image| %>
    <tr>
      <td><%= post_image.shop_name %></td>
      <td><%= post_image.caption %></td>
      <td>
        <%= link_to post_image_path(post_image.id) do %>
          <%= image_tag post_image.get_image %>
        <%end%>
      </td>
    </tr>
  <%end%>
</table>
