<h1>投稿一覧</h1>
<table>
  <tr>
    <th>ユーザ画像</th>
    <th>ユーザ名</th>
    <th>お店の名前</th>
    <th>説明</th>
    <th>写真</th>
  </tr>
  <% @post_images.each do |post_image| %>
    <tr>
      <td>
        <%= link_to user_path(post_image.user) do %>
          <%= image_tag post_image.user.get_profile_image(100,100) %>
        <%end%>
      </td>
      <td><%= link_to post_image.user.name, user_path(post_image.user) %></td>
      <td><%= post_image.shop_name %></td>
      <td><%= post_image.caption %></td>
      <td>
        <%= link_to post_image_path(post_image.id) do %>
          <%= image_tag post_image.get_image %>
        <%end%>
      </td>
    </tr>
  <%end%>
</table>
