<% if @post_image.errors.any? %>
  <%= @post_image.errors.count %>件のエラーが発生しました。
  <% @post_image.errors.full_messages.each do |message| %>
    <ul>
      <li><%= message %></li>
    </ul>
  <%end%>
<%end%>

<h1>新規投稿</h1>
<%= form_with model: @post_image do |f| %>
  <p>画像</p>
  <%= f.file_field :image, accept: "image/*" %>
  <p>お店の名前</p>
  <%= f.text_field :shop_name %>
  <p>本文</p>
  <%= f.text_area :caption %>
  <%= f.submit "投稿" %>
<%end%>